{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div id="gotocontainer" style="display: none;float:right;">
	<input id="go_input" type="text" />
</div>

<div id="content-main">

<div class="shortcutsmap module">
	<h2>Shortcuts Map</h2>
	<table>
		<tr>
			<td><b>? :</b></td><td>Open Shortcuts Map</td>
			<td><b>j :</b></td><td>Scroll Up</td>
			<td><b>k :</b></td><td>Scroll Down</td>
		</tr>
		<tr>
			<td><b>n :</b></td><td>Next Module</td>
			<td><b>p :</b></td><td>Previous Module</td>
			<td><b>j :</b></td><td>Scroll Up</td>
		</tr>
		<tr>
			<td><b>/ :</b></td><td>Search Function</td>
			<td><b>1 :</b></td><td>Scroll Down</td>
			<td><b>2 :</b></td><td>Scroll Down</td>
		</tr>

	</table>
</div>

{% if app_list %}
    {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">
                {% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}
            </a>
        </caption>
        {% for model in app.models %}
            <tr class="model-{{ model.object_name|lower }}">
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>


<script type="text/javascript" src="{% static 'admin/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.jkey.min.js' %}"></script>

<script type="text/javascript">
	
	$(".shortcutsmap").hide()
	$('.shortcutsmap').data('closed',true)
	
	$("#gotocontainer").hide()
	$('#gotocontainer').data('closed',true)
	
	var go_value = '';
	var apps_list = [];
	
	{% if app_list %} 
	{% for app in app_list %} 
	
	apps_list.push('{{app.app_label}}')
	
	{% endfor %} 
	{% endif %}
	
	//alert(apps_list)
	
	$(document).jkey('g', function(){
		var closed = $('#gotocontainer').data().closed;
		if (closed){
			$("#gotocontainer").slideDown("slow")
			$("#gotocontainer").data('closed',false)
			$('#go_input').focus();
		}
		else{
			$("#gotocontainer").slideUp("slow")
			$("#gotocontainer").data('closed',true)
		}
		
		$('input').on('blur', function() {
			$(this).val(function( i, val ) {
				go_value = val.toLowerCase();
			});
		});
				
		
		for(i=0;i<apps_list.length;i++){
			if(go_value == 'app-'+apps_list[i]){
				$(window).scrollTop($('app-'+apps_list[i]).offsettop);
			}
		}

		$("#gotocontainer").delay(1200).data('closed',true).slideUp(400)
		$("#go_input").val('')

	});
	
	$(document).jkey('shift+/',function(){

		var closed = $('.shortcutsmap').data().closed;
		if (closed){
			$(".shortcutsmap").slideDown("slow")
			$(".shortcutsmap").data('closed',false)
		}
		
		else{
			$(".shortcutsmap").slideUp("slow")
			$(".shortcutsmap").data('closed',true)
		}
	});
	
	$(document).jkey('j',function(){		
		$('html,body').animate({
			scrollTop: $(window).scrollTop() + 200
		});
	});
	
	$(document).jkey('k',function(){		
		$('html,body').animate({
			scrollTop: $(window).scrollTop() - 200
		});
	});	
		

</script>
{% endblock %}
